<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maboroshi.cave.mapper.CalendarMapper">
    <update id="updateInform">
        update calendarinform
        <set>
            <if test="text != null"> text = #{text},  </if>
            <if test="updateTime != null"> updateTime = #{updateTime}  </if>
        </set>
        <where>
            <if test="userId != null"> userId = #{userId} </if>
            <if test="date != null"> and date = #{date} </if>
        </where>
    </update>
</mapper>